#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 0.2em;
    width: 16rem;
    height: 30rem;
    border-color: gray;
    background-color: rgba(250, 220, 212, 0.35);
    box-shadow: 0.03em -0.03em 0.1em grey;

}
.card:hover{
    background-color: rgba(236, 149, 125, 0.35);
}
.card-body{
    text-align: center;
}
.card-text {
    overflow: hidden;
    text-overflow: clip;
    display: inline-flex;
    text-align: left;
    height: 4.5em;
}
