a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.ico1{
height: 25px;
width: 25px;
padding: 0.3rem;
}
div .container{
  padding-top: 0.5rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(148, 108, 8);
}
