/* Provide sufficient contrast against white background */
@font-face {
  font-family: 'Cocktails';
  src: local('Cocktails.ttf'), url(./fonts/Cocktails.ttf) ;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Bromine';
  src: local('BromineCocktail.otf'), url(./fonts/BromineCocktail.otf) ;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body{
  transition: background-color 1s ease;
}
a { 
  color: #0366d6;
}
code {
  color: #E01A76;
}
h1 {
  text-align: center;
  font-family: 'Bromine';
}
.btn-primary {
  color: #fff;
  background-color: #49371f;
  border: none;
  font-family: 'Bromine';
}
.btn-success {
  color: #fff;
  background-color: #49371f;
  border: none;
  font-family: 'Bromine';
}
.spinner-border{
  height: 5em;
  width: 5em;
  margin: 2em;
}
