
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 52, 44);
    padding: 15px;
    /* margin: 0; */
    position: absolute;
    top: 40%;
    left: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    font-family: 'Bromine', serif;

}

@media (min-width: 800px) {body{
    background-image: url("../../images/wp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}}
@media (max-width: 800px) {body{
    background-image: url("../../images/wp.jpg");
    background-repeat: no-repeat;
    background-size: 800px 540px;
    background-color: black;
}}
label p {
    margin-top: 1em;
    color: whitesmoke;
}
.login-wrapper h1 {
    font-family: 'Cocktails', serif;
  background: linear-gradient(
    to right, 
    hsl(60 40% 30%), 
    hsl(204 40% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.login-wrapper button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: rgb(37, 34, 28);
    border: none;
    color: grey;

}
.login-wrapper input {
    background-color: rgb(37, 34, 28);
    border: none;
    color: grey;

}
.login-wrapper p {
    color: lightgrey;

}
.login-wrapper button:hover {
    background-color: rgb(73, 67, 56);
    color: lightgrey;
}