
.login-wrapper {
    background-color: rgb(58, 52, 44);
    padding: 15px;
    position: absolute;
    top: 17%;
    left: 20%;
   font-family: 'Bromine', serif;
}

 @media (min-width: 800px) {.loginBk{
    background-image: url("../../images/wp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}}
@media (max-width: 800px) {.loginBk{
    background-image: url("../../images/wp.jpg");
    background-repeat: no-repeat;
    background-size: 800px 540px;
    background-color: black;

}} 

label p {
    margin-top: 1em;
    color: whitesmoke;
}
 #beauty, .beauty {
    font-family: 'Cocktails', serif;
    background: linear-gradient(
        to right, 
        hsl(200 40% 30%), 
        hsl(204 40% 59%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.login-wrapper h1 {
    font-family: 'Cocktails', serif;
  background: linear-gradient(
    to right, 
    hsl(60 40% 30%), 
    hsl(204 40% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.login-wrapper button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: rgb(37, 34, 28);
    border: none;
    color: grey;

}
.login-wrapper input {
    background-color: rgb(37, 34, 28);
    border: none;
    color: grey;
}
.login-wrapper p {
    color: lightgrey;
}
.login-wrapper button:hover {
    background-color: rgb(73, 67, 56);
    color: lightgrey;
}